<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.laoxu.blog.dao.inter.IArticle">

    <sql id="column">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="summary != null">
                summary,
            </if>
            <if test="text != null">
                text,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="StartTime != null">
                StartTime,
            </if>
            <if test="EndTime != null">
                EndTime,
            </if>
        </trim>
    </sql>
    <sql id="columnValue">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="summary != null">
                #{summary},
            </if>
            <if test="text != null">
                #{text},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="state != null">
                #{state},
            </if>
            <if test="StartTime != null">
                #{StartTime},
            </if>
            <if test="EndTime != null">
                #{EndTime},
            </if>
        </trim>
    </sql>

    <sql id="condition">
        <where>
            <trim suffixOverrides="and">
                <if test="id!=null">
                    id=#{id} and
                </if>
                <if test="name!=null">
                    name like "%"#{name}"%" and
                </if>
                <if test="summary!=null">
                    summary = #{summary} and
                </if>
                <if test="text!=null">
                    text like "%"#{text}"%" and
                </if>
                <if test="type!=null">
                    type = #{type} and
                </if>
                <if test="state!=null">
                    state = #{state} and
                </if>
                <if test="StartTime!=null">
                    StartTime = #{StartTime} and
                </if>
                <if test="EndTime!=null">
                    EndTime = #{EndTime} and
                </if>
            </trim>

        </where>
    </sql>
    <sql id="displayColumn">
        <choose>
            <when test="column!=null">
                ${column}
            </when>
            <when test="column==null">
                *
            </when>
        </choose>
    </sql>


    <select id="select" resultType="java.util.Map">
        select * from Blog.article
        <include refid="condition"></include>
    </select>

    <select id="selectAllArticle" resultType="java.util.Map">
        select * from Blog.article
        <include refid="condition"></include>
    </select>

    <select id="findByPage" parameterType="java.util.Map" resultType="java.util.Map">
        select
        <include refid="displayColumn"></include>
        from Blog.article <include refid="condition"></include>
        limit #{start},#{rowAccount}
    </select>

    <select id="rowsCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) count from Blog.article <include refid="condition"></include>
    </select>

    <select id="batchSelect" resultType="com.laoxu.blog.entity.Article">
        select * from Blog.article
        <include refid="condition"></include>
    </select>

    <insert id="add" parameterType="com.laoxu.blog.entity.Article" >
        insert into Blog.article
        <include refid="column"></include>
        values
        <include refid="columnValue"></include>
    </insert>

    <update id="update" parameterType="com.laoxu.blog.entity.Article">
        update Blog.article set
        <trim suffixOverrides=",">
            <if test="name != null">
                name = #{name},
            </if>
            <if test="summary != null">
                summary = #{summary},
            </if>
            <if test="text != null">
                text = #{text},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="StartTime != null">
                StartTime = #{StartTime},
            </if>
            <if test="EndTime != null">
                EndTime = #{EndTime},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="com.laoxu.blog.entity.Article">
        delete from Blog.article where id = #{id}
    </delete>
</mapper>