<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.laoxu.blog.dao.inter.ICode">

    <sql id="column">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="code != null">
                code,
            </if>
        </trim>
    </sql>
    <sql id="columnValue">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="code != null">
                #{code},
            </if>
        </trim>
    </sql>

    <sql id="condition">
        <where>
            <trim suffixOverrides="and">
                <if test="id!=null">
                    id=#{id} and
                </if>
                <if test="code!=null">
                    code = #{code} and
                </if>
            </trim>

        </where>
    </sql>
    <sql id="displayColumn">
        <choose>
            <when test="column!=null">
                ${column}
            </when>
            <when test="column==null">
                *
            </when>
        </choose>
    </sql>



    <select id="select" resultType="java.util.Map">
        select * from Blog.code
        <include refid="condition"></include>
    </select>

    <select id="batchSelect" resultType="com.laoxu.blog.entity.Code">
        select * from Blog.code
        <include refid="condition"></include>
    </select>

    <insert id="add" parameterType="com.laoxu.blog.entity.Code" >
        insert into Blog.code
        <include refid="column"></include>
        values
        <include refid="columnValue"></include>
    </insert>

    <update id="update" parameterType="com.laoxu.blog.entity.Code">
        update Blog.code set
        <trim suffixOverrides=",">
            <if test="code != null">
                code = #{code},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="com.laoxu.blog.entity.Code">
        delete from Blog.code where hello = 1
    </delete>
</mapper>